.topmenu > li > a:hover {
  color: #b3b3b3;
}

.topmenu > li > b:after {
  position: relative;
  top: 7px;
  padding: 0.5em;
  content: "\02C5";
  font-family: monospace;
  font-size: 20px;
}

.topmenu > li > b:hover {
  color: #b3b3b3;
  cursor: pointer;
}

.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

.submenu a:hover {
  color: #b3b3b3;
}