nav {
  position: absolute;
  top: 0;
  left: 1em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  display: block;
  color: #000;
}

.topmenu > li {
  display: table-cell;
  position: relative;
  padding: 0 40px;
  -webkit-touch-callout: none; 
  -webkit-user-select: none;   
  -khtml-user-select: none;    
  -moz-user-select: none;      
  -ms-user-select: none;       
  user-select: none; 
}

.topmenu > li > a {
  font-family: serif;
  font-size: 0.5em;
  line-height: 1;
  letter-spacing: 2px;
  color: white;
}

.topmenu > li > b {
  font-family: serif;
  font-size: 0.5em;
  line-height: 1;
  letter-spacing: 2px;
  color: white;
}

.submenu {
  position: absolute;
  z-index: 5;
  left: 10%;
  top: 100%;
  width: 0.2em;
  padding: 15px 0 15px;
  margin-top: 10px;
  background: #2c3e50;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s opacity, 0.5s visibility;
  font-family: serif;
  font-size: 20em;
  z-index: 1000;
}

.submenu a {
  font-size: 14px;
  letter-spacing: 1px;
  padding: 5px 10px;
  transition: 0.2s linear;
  color: white;
}