html {
    background: #cccccc;
  }
  
  .bg_site {
    position: relative;
  }
  .bg_site::before {
    background: url('../image/bg.png') no-repeat center center;
    background-size: cover;
    content: " ";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1000;
  }
  
  background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: -100;
    background-image: url('../image/bg_header.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .box {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  /*Стиль заголовка*/
  .text_style {
    position: absolute;
    top: 0;
    left: 3em;
    font: 40px "bold";
    color: white;
    cursor: default;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
  }
  .header-img {
    width: 8%;
    position: relative;
    height: 8%;
    z-index: 1000;
    float: left;
    margin: 0 10px 0 0;
  }
  .header-img img {
    max-width: 100%;
    height: auto;
  }
  
  /*Стиль шапки*/
  block_line {
    position: absolute;
    top: 3.15em;
    left: 0;
    height: 50px;
    width: 100%;
    background: #3b7d79;
  }
  
  /*Стиль подвала*/
  .footer {
    margin-top: 150px;
    height: 65px;
    background: #3b7d79;
    color: white;
    width: 100%;
    float: left;
    font-family: 'Jost', sans-serif;
  }
  
  .footer > p {
    line-height: 400%;
    margin: 0;
    text-align: center;
    padding: 0;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
  }
  
  /*Стиль поисковой строки с кнопкой*/
  .d3 {
    background: #e5e5e5;
  }
  
  ::-webkit-input-placeholder {
    color: #000;
    opacity: 1;
    font-family: 'Jost', sans-serif;
  } /* webkit */
  ::-moz-placeholder {
    color: #000;
    opacity: 1;
    font-family: 'Jost', sans-serif;
  } /* Firefox 19+ */
  :-moz-placeholder {
    color: #000;
    opacity: 1;
    font-family: 'Jost', sans-serif;
  } /* Firefox 18- */
  :-ms-input-placeholder {
    color: #000;
    opacity: 1;
    font-family: 'Jost', sans-serif;
  } /* IE */
  :focus::-webkit-input-placeholder {color: transparent}
  :focus::-moz-placeholder          {color: transparent}
  :focus:-moz-placeholder           {color: transparent}
  :focus:-ms-input-placeholder      {color: transparent}
  
  
  .wrapper {
    position:relative;
    left:15%;
    width: 17px;
    height: 17px;
    pointer-events: none;
  }
  .exmp3 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .d3 form {
    position: absolute;
    top: 0;
    right: 0.5em;
    display: table-cell;
    background: #e5e5e5;
    height: 50px;
    width: 25%;
  }
  
  .d3 input,
  .d3 button {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
  }
  
  .d3 input {
    width: 95%;
    height: 95%;
    padding-left: 15px;
  }
  
  .d3 button {
    height: 49px;
    width: 49px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  
  .d3 button:before {
    font-size: 16px;
    color: #000000;
  }
  
  /*горизонтальное меню на шапке*/
  nav {
    position: absolute;
    top: 0;
    left: 1em;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav a {
    text-decoration: none;
    display: block;
    color: white;
  }
  
  .topmenu > li {
    display: table-cell;
    position: relative;
    padding: 7px 40px;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
  }
  
  .topmenu > li > a {
    position:relative;
    top:-4px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 2px;
    font-family: 'Jost', sans-serif;
    color: white;
  }
  
  .topmenu > li > a:hover {
    color: #dedede;
  }
  
  .topmenu > li > b {
    position:relative;
    top:-4px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 2px;
    font-family: 'Jost', sans-serif;
    color: white;
  }
  
  .topmenu > li > b:after {
    position: relative;
    top: 7px;
    padding: 0.5em;
    content: "\02C5";
    font-family: monospace;
    font-size: 20px;
  }
  
  .topmenu > li > b:hover {
    color: #dedede;
    cursor: pointer;
  }
  
  .topmenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    background: #3b7d79;
    transition: 0.5s opacity, 0.5s visibility;
  }

  .submenu {
    position: absolute;
    top: 50px;
    left: 40px;
    width: 350px;
    height: 210px;
    transition-delay: 0.1s;  
    opacity: 0;
    visibility: hidden;
    background: transparent;
    z-index:-2000;
  }
  .text_submenu {
    position: relative;
    margin-left: 10px;
    float: left;
    width: 100px;
    height: 250px;
    color: white;
    font-size: 14px;
    line-height: 2em;
    font-family: 'Jost', sans-serif;
  }
  .text_submenu > h {
    color: white;
    font-size: 16px;
  }
  .submenu a:hover {
    color: #b3b3b3;
  }
  
/*Информация о нас*/
.info_about{
    position:relative;
    top:60px;
    width:60%;
    height:500px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.6);
    z-index:-1;
  }
  
  .header_top {
    position: relative;
    font-size: 30px;
    top: 0.2vw;
    color: black;
    text-align: center;
    font-weight: 800;
    font-family: 'Jost', sans-serif;
  }
  
  .text_about{
    position: relative;
    float:left;
    font-size: 16px;
    top: 0.5vw;
    color: black;
    margin: 15px;
    font-family: 'Jost', sans-serif;
  }
  
  .text_about > p {
    position:relative;
    text-align:justify;
    text-indent: 30px;
    padding-left:10px;
    padding-right:10px;
  }

  @media (max-width: 1050px) {
    block_line {
      height: 7em;
    }
  
    .d3 {
      position: relative;
      top: -0.4em;
      right: 13.3%;
    }
  
    .d3 form {
      display: table-cell;
      flex: 0 0 250px;
      width: 70%;
    }
  
    nav {
      position: absolute;
      top: 2.5em;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  
    .topmenu > li {
      display: table-cell;
      position: relative;
      padding: 0 30px;
    }
  
    .news_block {
      margin-top: 9em;
    }
  
    .caption-bottom {
      margin: 150px auto 0;
    }

    .info_about{
        top:120px;
    }

    .footer {
        margin-top: 10em;
    }

    html{
        overflow-x:hidden;
    }    
}