html {
  background: #cccccc;
  overflow-y: scroll;
}

.bg_site {
  position: relative;
}
.bg_site::before {
  background: url('../image/bg.png') no-repeat center center;
  background-size: cover;
  content: " ";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: transform;
  z-index: -1000;
}

background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: -100;
  background-image: url('../image/bg_header.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

/*Стиль заголовка*/
.text_style {
  position: absolute;
  top: 0;
  left: 3em;
  font: 40px "bold";
  font-family: serif;
  color: white;
  cursor: default;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.header-img {
  width: 8%;
  position: relative;
  height: 8%;
  z-index: 1000;
  float: left;
  margin: 0 10px 0 0;
}
.header-img img {
  max-width: 100%;
  height: auto;
}

/*Стиль шапки*/
block_line {
  position: absolute;
  top: 3.15em;
  left: 0;
  height: 50px;
  width: 100%;
  background: #3b7d79;
}

/*Стиль подвала*/
.footer {
  margin-top: 3em;
  height: 65px;
  background: #3b7d79;
  color: white;
  width: 100%;
  float: left;
  font-family: 'Jost', sans-serif;
}

.footer > p {
  line-height: 400%;
  margin: 0;
  text-align: center;
  padding: 0;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

/*Стиль поисковой строки с кнопкой*/
.d3 {
  background: #e5e5e5;
}

::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
  font-family: 'Jost', sans-serif;
} /* webkit */
::-moz-placeholder {
  color: #000;
  opacity: 1;
  font-family: 'Jost', sans-serif;
} /* Firefox 19+ */
:-moz-placeholder {
  color: #000;
  opacity: 1;
  font-family: 'Jost', sans-serif;
} /* Firefox 18- */
:-ms-input-placeholder {
  color: #000;
  opacity: 1;
  font-family: 'Jost', sans-serif;
} /* IE */
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}


.wrapper {
  position:relative;
  left:15%;
  width: 17px;
  height: 17px;
  pointer-events: none;
}
.exmp3 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.d3 form {
  position: absolute;
  top: 0;
  right: 0.5em;
  display: table-cell;
  background: #e5e5e5;
  height: 50px;
  width: 25%;
}

.d3 input,
.d3 button {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

.d3 input {
  width: 95%;
  height: 95%;
  padding-left: 15px;
}

.d3 button {
  height: 49px;
  width: 49px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.d3 button:before {
  font-size: 16px;
  color: #000000;
}

/*горизонтальное меню на шапке*/
nav {
  position: absolute;
  top: 0;
  left: 1em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  display: block;
  color: white;
}

.topmenu > li {
  display: table-cell;
  position: relative;
  padding: 7px 40px;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.topmenu > li > a {
  position:relative;
  top:-4px;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 2px;
  font-family: 'Jost', sans-serif;
  color: white;
}

.topmenu > li > a:hover {
  color: #dedede;
}

.topmenu > li > b {
  position:relative;
  top:-4px;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 2px;
  font-family: 'Jost', sans-serif;
  color: white;
}

.topmenu > li > b:after {
  position: relative;
  top: 7px;
  padding: 0.5em;
  content: "\02C5";
  font-family: monospace;
  font-size: 20px;
}

.topmenu > li > b:hover {
  color: #dedede;
  cursor: pointer;
}

.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
  background: #3b7d79;
  transition: 0.5s opacity, 0.5s visibility;
}
.submenu {
  position: absolute;
  top: 50px;
  left: 40px;
  width: 350px;
  height: 210px;
  transition-delay: 0.1s;  
  opacity: 0;
  visibility: hidden;
  background: transparent;
  z-index:-2000;
}

.text_submenu {
  position: relative;
  margin-left: 10px;
  float: left;
  width: 100px;
  height: 250px;
  color: white;
  font-size: 14px;
  line-height: 2em;
  font-family: 'Jost', sans-serif;
}
.text_submenu > h {
  color: white;
  font-size: 16px;
}
.submenu a:hover {
  color: #b3b3b3;
}

/* Изображение авто */
.caption-bottom {
  width: 50%;
  margin: 100px auto 0;
  position: relative;
  float: top;
  height: 50%;
}
.caption-bottom img {
  max-width: 100%;
  height: auto;
  display: block;
}
.header_autoname {
  position: relative;
  width: 100%;
  height: 3.5vmax;
  background: black;
}
.header_autoname > p {
  position: relative;
  top: 10%;
  margin: 0;
  font-size: calc(0.35em + 1.55vw);
  color: white;
  font-family: Arial Black;
}

/*Заголовок таблицы*/
.header_table {
  margin: 50px;
  font-size: calc(0.35em + 1.55vw);
  font-family: Arial Black;
}

/*Таблица характеристик*/
.table-wrapper {
  margin: 50px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 14px;
}

.fl-table thead th {
  color: #ffffff;
  background: #49423d;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #707070;
}

.fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

.fl-table tr:hover {
  background: #e6e6ea;
  cursor: default;
}

/*новостные блоки*/
.got{
  position:relative;
  width:10px;
  height:10px;
  background:transparent;
  margin-bottom:60px;
}

.news_block {
  height: 17.15em;
  width: 68em;
  border: none;
  outline: none;
  cursor: pointer;
  color: #262222;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.6);
  margin: 30px 0 0 40px;
  font-family: 'Jost', sans-serif;
}
.news_block > date {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  min-height: 100%;
  left: -450px;
  font-size: 16px;
  color: #4f4f4f;
  font-family: 'Jost', sans-serif;
}

.news_block:hover {
  color: #000;
  transition: background-color 0.3s;
}

.first_news_block:hover {
  color: #000;
  transition: background-color 0.3s;
}

.news_block:hover > .img img {
  color: #000;
  background: #e6e6e6;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -o-transform: scale(1.08);
}

.first_news_block:hover > .img img {
  color: #000;
  background: #e6e6e6;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -o-transform: scale(1.08);
}

.top_box {
  position: relative;
  width: 350px;
  height: 747px;
  z-index: 1000;
  float: right;
  margin: 100px 20px 0 0;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.6);
  font-family: 'Jost', sans-serif;
  color: #262222;
}

.header_top {
  position: relative;
  top: 0.1vw;
  font-size: 30px;
  /*text-align: center;*/
  font-weight: 800;
  line-height: 1;
  margin-top: 4%;
  margin-left: 7%;
  margin-right: 15px;
}

.image-top {
  width: 90%;
  height: 200px;
  position: relative;
  top: 1.5vw;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.image-top img {
  position: relative;
  max-width: 100%;
  top: -15px;
  float: left;
}

.header_autoname_top {
  position: relative;
  top: 135px;
  width: 100%;
  height: 30px;
  background: #262222;
}
.header_autoname_top > p {
  position: relative;
  top: -152px;
  font-size: 16px;
  color: white;
  font-family: 'Jost', sans-serif;
  font-weight: 700;
}

.fot {
  position: relative;
  width: 10px;
  height: 10px;
  margin: 0.1vw;
  background: transparent;
}

.header_style {
  position: relative;
  top: 0;
  float: left;
  margin-left: 2%;
  margin-top: 1%;
  font-size: 30px;
  font-weight: 800;
  text-align: left;
  line-height: 1;
  width: 450px;
}

.info_text {
  position: relative;
  top: 0;
  float: left;
  margin: 2%;
  margin-left: 2%;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  width: 400px;
}

.img {
  position: relative;
  margin-left: -5px;
  left: 0;
  width: 45%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
  float: left;
}

.img img {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  max-height: 100%;
  z-index: 100;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
}

@media (max-width: 1340px) {
  block_line {
    height: 7em;
  }

  .d3 {
    position: relative;
    top: -0.4em;
    right: 13.3%;
  }

  .d3 form {
    display: table-cell;
    flex: 0 0 250px;
    width: 70%;
  }

  nav {
    position: absolute;
    top: 2.5em;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .topmenu > li {
    display: table-cell;
    position: relative;
    padding: 0 30px;
  }

  .caption-bottom {
    margin: 150px auto 0;
  }

  .top_box {
    float:left;
    margin-left:10%;
  }
}

@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }
  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }
  .fl-table thead th:last-child {
    border-bottom: none;
  }
  .fl-table thead {
    float: left;
  }
  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .fl-table td,
  .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
    display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .fl-table tr:nth-child(even) {
    background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}