{% extends 'about.html' %} // Тут напишем новое

{% block about %}
<center>
    <div class="info_about">
      <div class="header_top">
        Над сайтом работали
      </div>
      <div class="text_about">
        <p>• Титов А.Д.</p>
        <p>• Шевелев А.В.</p>
        <p>• Рыбакин Д.И.</p>
        <p>• Беляев Н.И.</p>        
        <p>На данном сайте вы сможете найти актуальную информацию об электромобилях, посмотреть характеристики и сравнить комплектации. Также можно узнать свежие новости из мира электрокаров.</p>
      </div>
      </div>
    </center>
{% endblock %}